
* {
	box-sizing: border-box;
}

body {

background-color: #FFFFFF;
 font-family: Arial, Helvetica, sans-serif;

}

/* Doing the header for Weather Quest*/
header {

    background-color: #00BFFF;
    color: #FFFFFF;
    height: 10%;
    padding: 15px;
    text-align: center;
    font-size: 30px;
    

}


/* Doing menu on the left */

navMenu {

    border-radius: 5px;
    border-style: solid;
    border-color: #00BFFF;
    border-width: medium;
    float: left;
    width: 35%;
    height: 125px;
    padding: 15px;
    background-color: #FFFFFF;
    color: #000000;

}

/* Doing the summary on the right */


navSummary{

    border-radius: 5px;
    border-style: solid;
    border-color: #00BFFF;
    border-width: medium;
    float: left;
    width: 65%;
    height: 125px;
    background: /* Pick a color */;
    padding: 15px;
    background-color: #FFFFFF;
    color: #000000;

}

section:after {
	content:"";
	display: table;
	clear: both;
}

#container
{

 background-image: url("CloudMove.gif");
 width: 1070px;
 margin: 0px auto;
    
}

#Answer1
{
    position: relative;
    bottom: 890px;
    left: 50px;
}
#Answer2
{
    position: relative;
    bottom: 866px;
    left: 50px;
}
#Answer3
{
    position: relative;
    bottom: 842px;
    left: 50px;
}
#Answer4
{
    position: relative;
    bottom: 815px;
    left: 50px;
}

.largeButton{
    display: block;
    width: 20%;
    border: none;
    background-color: azure;
    color: black;
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;

}

.largeButton:hover {

    background-color: cyan;
    color: black;
    
}

.text01{
    position: relative;
    display: block;
    padding: 10px;
    bottom: 675px;
    left: 270px;

}






